#loginButton {
    -fx-background-color: #0a4577;
    -fx-background-radius: 25px;
}
#loginButton:hover {
    -fx-background-color: #0a4577;
    -fx-background-radius: 25px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.text-field {
   -fx-border-color: #0a4577;
   -fx-background-radius: 25px;
   -fx-border-width: 0px;
   -fx-alignment: center;
   -fx-prompt-text-fill: gray;
   -fx-alignment: center;
   -fx-font-size: 14px;

}
.text-field:hover {
    -fx-border-color: #0a4577;
    -fx-background-radius: 25px;
    -fx-border-width: 0px;
    -fx-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}
#panelEncabezado{
    -fx-background-color: #0a4577;

}
#labelLogin{
    -fx-font-size: 18px;
    -fx-font-weight: bold;

}
.redText{
    -fx-prompt-text-fill: red;
}

