
#panelEncabezado{
    -fx-background-color: #0a4577;

}

#panelMenu{
    -fx-background-color: #8794F0;

}
#panelCorreo{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.text-field {
   -fx-border-color: #0a4577;
   -fx-background-radius: 25px;
   -fx-border-width: 0px;
   -fx-alignment: center;
   -fx-prompt-text-fill: gray;
   -fx-alignment: center;
   -fx-font-size: 14px;

}
.text-field:hover {
    -fx-border-color: #0a4577;
    -fx-background-radius: 25px;
    -fx-border-width: 0px;
    -fx-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}
.redText{
    -fx-prompt-text-fill: red;
}

.button{
    -fx-background-color: #0a4577;
    -fx-background-radius: 25px;
}
.button:hover {
    -fx-background-color: #0a4577;
    -fx-background-radius: 25px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}