
#panelEncabezado{
    -fx-background-color: #70b493;

}
#panelMenu{
    -fx-background-color: #8794F0;

}
#paneInsideGrid{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
#encabezadoPanelInsideGrid{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button{
    -fx-background-color: #0a4577;
    -fx-background-radius: 25px;
}
.button:hover {
    -fx-background-color: #0a4577;
    -fx-background-radius: 25px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}