#panelEncabezado{
    -fx-background-color: #0a4577;

}

#panelEncabezadoTest{
    -fx-background-radius: 25px;

}

#panelTest{
     border: 1px solid black;
}

#panelRespuesta1,#panelRespuesta3 {
    -fx-background-radius: 25px;
    -fx-background-color: #8794F0;
}

#panelRespuesta2{
    -fx-background-radius: 25px;
    -fx-background-color: #6CFAEE;
}

